# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
test-output/testng.css
test-output/testng-reports.js
test-output/skipped.png
test-output/old/index.html
test-output/testng-results.xml
test-output/testng-failed.xml
test-output/old/Default suite/toc.html
test-output/old/Default suite/methods.html
test-output/old/Default suite/methods-alphabetical.html
test-output/old/Default suite/groups.html
test-output/old/Default suite/Default test.properties
test-output/junitreports/TEST-testCases.tst_03_take_image.xml
test-output/jquery-1.7.1.min.js
test-output/emailable-report.html
test-output/failed.png
test-output/junitreports/TEST-testCases.tst_01_quick_test.xml
test-output/Default suite/Default test.xml
test-output/collapseall.gif
*.class
test-output/testng-reports.css
test-output/old/Default suite/reporter-output.html
test-output/old/Default suite/index.html
test-output/junitreports/TEST-testCases.tst_02_basic.xml
test-output/Default suite/Default test.html
test-output/index.html
test-output/Default suite/testng-failed.xml
test-output/old/Default suite/classes.html
test-output/old/Default suite/main.html
test-output/passed.png
test-output/navigator-bullet.png
target/classes/META-INF/MANIFEST.MF
target/test-classes/config/log4j2.xml
target/test-classes/geckodriver.exe
target/test-classes/testResults/2016-11-23 21-14-59 tst_01_quick_test/tst_01_quick_test.log
test-output/old/Default suite/testng.xml.html
target/test-classes/testResults/2016-11-23 21-14-59 tst_01_quick_test/screenshot_1_assert_verify.png
target/classes/META-INF/maven/selenium_framework_dev/selenium_framework_dev/pom.properties
test-output/old/Default suite/methods-not-run.html
test-output/bullet_point.png
target/classes/META-INF/maven/selenium_framework_dev/selenium_framework_dev/pom.xml
src/test/java/testResults/2016-11-24 11-42-10 tst_00_test_template/screenshot_1_assert_verify.png
target/test-classes/testResults/2016-11-24 11-42-10 tst_00_test_template/screenshot_1_assert_verify.png
target/test-classes/testResults/2016-11-24 11-42-10 tst_00_test_template/tst_00_test_template.log
src/test/java/testResults/2016-11-24 11-42-10 tst_00_test_template/tst_00_test_template.log
src/test/java/testResults/2016-11-24 12-11-19 tst_00_test_template/screenshot_1_assert_verify.png
src/test/java/testResults/2016-11-24 12-11-19 tst_00_test_template/tst_00_test_template.log
target/test-classes/testResults/2016-11-24 12-11-19 tst_00_test_template/screenshot_1_assert_verify.png
test-output/junitreports/TEST-testCases.tst_00_test_template.xml
target/test-classes/testResults/2016-11-24 12-11-19 tst_00_test_template/tst_00_test_template.log
target/test-classes/testResults/2016-11-25 19-04-04 tst_02_basic/screenshot_1_assert_verify.png
target/test-classes/testResults/2016-11-25 19-04-04 tst_02_basic/screenshot_2_assert_verify.png
src/test/java/testResults/2016-11-25 19-04-04 tst_02_basic/screenshot_1_assert_verify.png
src/test/java/testResults/2016-11-25 19-04-04 tst_02_basic/tst_02_basic.log
src/test/java/testResults/2016-11-25 19-09-49 tst_04_refactor_ids/tst_04_refactor_ids.log
src/test/java/testResults/2016-11-25 19-04-04 tst_02_basic/screenshot_2_assert_verify.png
target/test-classes/testResults/2016-11-25 19-04-04 tst_02_basic/tst_02_basic.log
test-output/junitreports/TEST-testCases.tst_04_refactor_ids.xml
target/test-classes/testResults/2016-11-28 12-43-41 tst_01_quick_test/tst_01_quick_test.log
test-output/junitreports/TEST-testCases.tst_04_elements.xml
src/test/java/testResults/2016-11-28 18-05-56 tst_02_basic/tst_02_basic.log
src/test/java/testResults/2016-11-28 18-05-56 tst_02_basic/screenshot_1_assert_verify.png
src/test/java/testResults/2016-11-28 12-43-41 tst_01_quick_test/tst_01_quick_test.log
src/test/java/testResults/2016-11-28 18-05-56 tst_02_basic/screenshot_2_assert_verify.png
target/test-classes/testResults/2016-11-28 21-42-40 tst_04_elements/screenshot_1_assert_verify.png
target/test-classes/testResults/2016-11-28 21-42-40 tst_04_elements/screenshot_3_assert_verify.png
target/test-classes/testResults/2016-11-28 21-42-40 tst_04_elements/screenshot_2_assert_verify.png
